<a href="https://colab.research.google.com/github/Zziyuzhang/file3/blob/main/Midterm_Project_Ziyu_Zhang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import useful modules
import numpy as np
import pandas as pd

In [ ]:
# Connect my google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Sheet 1 cleaning process**

In [ ]:
UN_table1 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=1) #load the first sheet

In [ ]:
UN_table1 = UN_table1.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) # drop those rows in the green title area

In [ ]:
UN_table1 = UN_table1.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : 'Type of data (a)',
                 'Unnamed: 5' : '(both sexes) (1990)',
                 'Unnamed: 6' : '(both sexes) (1995)',
                 'Unnamed: 7' : '(both sexes) (2000)',
                 'Unnamed: 8' : '(both sexes) (2005)',
                 'Unnamed: 9' : '(both sexes) (2010)',
                 'Unnamed: 10': '(both sexes) (2015)',
                 'Unnamed: 11': '(male) (1990)',
                 'Unnamed: 12': '(male) (1995)',
                 'Unnamed: 13': '(male) (2000)',
                 'Unnamed: 14': '(male) (2005)',
                 'Unnamed: 15': '(male) (2010)',
                 'Unnamed: 16': '(male) (2015)',
                 'Unnamed: 17': '(female) (1990)',
                 'Unnamed: 18': '(female) (1995)',
                 'Unnamed: 19': '(female) (2000)',
                 'Unnamed: 20': '(female) (2005)',
                 'Unnamed: 21': '(female) (2010)',
                 'Unnamed: 22': '(female) (2015)'}, axis = 1) # Rename the column header to make it more clearer

In [ ]:
#After the rename process, row 13 and row 14 are meaningless, drop them
UN_table1.drop(index = [13, 14], inplace = True) # replace the old one

In [ ]:
UN_table1 = UN_table1.fillna('') #Replace the NaN value with empty strings

In [ ]:
UN_International_migrant_stock_both_sex = UN_table1.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(both sexes) (1990)',
                            '(both sexes) (1995)',
                            '(both sexes) (2000)',
                            '(both sexes) (2005)',
                            '(both sexes) (2010)',
                            '(both sexes) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock') ## Use melt function to create a new database that only contain data of both sexes

In [ ]:
UN_International_migrant_stock_male = UN_table1.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(male) (1990)',
                            '(male) (1995)',
                            '(male) (2000)',
                            '(male) (2005)',
                            '(male) (2010)',
                            '(male) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock') ## Use melt function to create a new database that only contain data of male

In [ ]:
UN_International_migrant_stock_female = UN_table1.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(female) (1990)',
                            '(female) (1995)',
                            '(female) (2000)',
                            '(female) (2005)',
                            '(female) (2010)',
                            '(female) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock') ## Use melt function to create a new database that only contain data of female

In [ ]:
# Now I get three new dataset named 1)UN_International_migrant_stock_both_sex, 2)UN_International_migrant_stock_male, 3)UN_International_migrant_stock_female
# For these dataset, I still want to show only year in the column sex and year
UN_International_migrant_stock_both_sex = (UN_International_migrant_stock_both_sex.assign(Year = lambda x: x.Year.str[13:].astype(str)))

In [ ]:
UN_international_migrant_stock_bothsexes_1990 = UN_International_migrant_stock_both_sex[0:265].reset_index(drop = True)
UN_international_migrant_stock_bothsexes_1995 = UN_International_migrant_stock_both_sex[265:530].reset_index(drop = True)
UN_international_migrant_stock_bothsexes_2000 = UN_International_migrant_stock_both_sex[530:795].reset_index(drop = True)
UN_international_migrant_stock_bothsexes_2005 = UN_International_migrant_stock_both_sex[795:1060].reset_index(drop = True)
UN_international_migrant_stock_bothsexes_2010 = UN_International_migrant_stock_both_sex[1060:1325].reset_index(drop = True)
UN_international_migrant_stock_bothsexes_2015 = UN_International_migrant_stock_both_sex[1325:].reset_index(drop = True)
#Based on the UN_international_migrant_stock_bothsexes database, I separate it to 6 dataframes from 1990 to 2015

In [ ]:
UN_International_migrant_stock_male = (UN_International_migrant_stock_male.assign(Year = lambda x: x.Year.str[7:].astype(str)))
# Same operation to UN_International_migrant_stock_male

In [ ]:
UN_international_migrant_stock_male_1990 = UN_International_migrant_stock_male[0:265].reset_index(drop = True)
UN_international_migrant_stock_male_1995 = UN_International_migrant_stock_male[265:530].reset_index(drop = True)
UN_international_migrant_stock_male_2000 = UN_International_migrant_stock_male[530:795].reset_index(drop = True)
UN_international_migrant_stock_male_2005 = UN_International_migrant_stock_male[795:1060].reset_index(drop = True)
UN_international_migrant_stock_male_2010 = UN_International_migrant_stock_male[1060:1325].reset_index(drop = True)
UN_international_migrant_stock_male_2015 = UN_International_migrant_stock_male[1325:].reset_index(drop = True)
# Another 6 dataframes for UN_International_migrant_stock_male

In [ ]:
UN_International_migrant_stock_female = (UN_International_migrant_stock_female.assign(Year = lambda x: x.Year.str[9:].astype(str)))
# Same operation to UN_International_migrant_stock_female

In [ ]:
UN_international_migrant_stock_female_1990 = UN_International_migrant_stock_female[0:265].reset_index(drop = True)
UN_international_migrant_stock_female_1995 = UN_International_migrant_stock_female[265:530].reset_index(drop = True)
UN_international_migrant_stock_female_2000 = UN_International_migrant_stock_female[530:795].reset_index(drop = True)
UN_international_migrant_stock_female_2005 = UN_International_migrant_stock_female[795:1060].reset_index(drop = True)
UN_international_migrant_stock_female_2010 = UN_International_migrant_stock_female[1060:1325].reset_index(drop = True)
UN_international_migrant_stock_female_2015 = UN_International_migrant_stock_female[1325:].reset_index(drop = True)
# Another 6 dataframes for UN_International_migrant_stock_female

**Sheet 2 Cleaning process**

In [ ]:
UN_table2 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=2) # load the second sheet

In [ ]:
UN_table2 = UN_table2.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) # drop those rows in the green title area

In [ ]:
UN_table2_total_pulation = UN_table2.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : '(both sexes) (1990)',
                 'Unnamed: 5' : '(both sexes) (1995)',
                 'Unnamed: 6' : '(both sexes) (2000)',
                 'Unnamed: 7' : '(both sexes) (2005)',
                 'Unnamed: 8' : '(both sexes) (2010)',
                 'Unnamed: 9': '(both sexes) (2015)',
                 'Unnamed: 10': '(male) (1990)',
                 'Unnamed: 11': '(male) (1995)',
                 'Unnamed: 12': '(male) (2000)',
                 'Unnamed: 13': '(male) (2005)',
                 'Unnamed: 14': '(male) (2010)',
                 'Unnamed: 15': '(male) (2015)',
                 'Unnamed: 16': '(female) (1990)',
                 'Unnamed: 17': '(female) (1995)',
                 'Unnamed: 18': '(female) (2000)',
                 'Unnamed: 19': '(female) (2005)',
                 'Unnamed: 20': '(female) (2010)',
                 'Unnamed: 21': '(female) (2015)'}, axis = 1) # Rename the column header to make it more clearer

In [ ]:
UN_table2_total_pulation = UN_table2_total_pulation.drop(index = [13, 14]) # Now drop the row 13, 14

In [ ]:
UN_table2_total_pulation = UN_table2_total_pulation.fillna('') #Replace the NaN value with empty strings

In [ ]:
UN_total_population_both_sex = UN_table2_total_pulation.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code'],
              value_vars = ['(both sexes) (1990)',
                            '(both sexes) (1995)',
                            '(both sexes) (2000)',
                            '(both sexes) (2005)',
                            '(both sexes) (2010)',
                            '(both sexes) (2015)'],
               var_name = 'Year',
               value_name = 'Total Population at Mid-year') # Use melt function to get the table of total population of both sexes

In [ ]:
UN_total_population_male = UN_table2_total_pulation.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code'],
              value_vars = ['(male) (1990)',
                            '(male) (1995)',
                            '(male) (2000)',
                            '(male) (2005)',
                            '(male) (2010)',
                            '(male) (2015)'],
               var_name = 'Year',
               value_name = 'Total Population at Mid-year')# Use melt function to get the table of total population of males

In [ ]:
UN_total_population_female = UN_table2_total_pulation.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code'],
              value_vars = ['(female) (1990)',
                            '(female) (1995)',
                            '(female) (2000)',
                            '(female) (2005)',
                            '(female) (2010)',
                            '(female) (2015)'],
               var_name = 'Year',
               value_name = 'Total Population at Mid-year') # Use melt function to get the table of total population of females

In [ ]:
# Now I got three different dataframes named 1)UN_total_pupulation_both_sexes, 2)UN_total_population_male, 3)UN_total_population_female
# I only want to show year in the year column
UN_total_population_both_sex = (UN_total_population_both_sex.assign(Year = lambda x: x.Year.str[13:].astype(str)))
UN_total_population_male = (UN_total_population_male.assign(Year = lambda x: x.Year.str[7:].astype(str)))
UN_total_population_female = (UN_total_population_female.assign(Year = lambda x: x.Year.str[9:].astype(str)))

In [ ]:
# Now separating dataframe of bothsexes into 6 different dataframes of 6 different years
UN_total_population_bothsexes_1990 = UN_total_population_both_sex[0:265].reset_index(drop = True)
UN_total_population_bothsexes_1995 = UN_total_population_both_sex[265:530].reset_index(drop = True)
UN_total_population_bothsexes_2000 = UN_total_population_both_sex[530:795].reset_index(drop = True)
UN_total_population_bothsexes_2005 = UN_total_population_both_sex[795:1060].reset_index(drop = True)
UN_total_population_bothsexes_2010 = UN_total_population_both_sex[1060:1325].reset_index(drop = True)
UN_total_population_bothsexes_2015 = UN_total_population_both_sex[1325:].reset_index(drop = True)

In [ ]:
# Now separating dataframe of famle into 6 different dataframes of 6 different years
UN_total_population_female_1990 = UN_total_population_female[0:265].reset_index(drop = True)
UN_total_population_female_1995 = UN_total_population_female[265:530].reset_index(drop = True)
UN_total_population_female_2000 = UN_total_population_female[530:795].reset_index(drop = True)
UN_total_population_female_2005 = UN_total_population_female[795:1060].reset_index(drop = True)
UN_total_population_female_2010 = UN_total_population_female[1060:1325].reset_index(drop = True)
UN_total_population_female_2015 = UN_total_population_female[1325:].reset_index(drop = True)

In [ ]:
# Now separating dataframe of male into 6 different dataframes of 6 different years
UN_total_population_male_1990 = UN_total_population_male[0:265].reset_index(drop = True)
UN_total_population_male_1995 = UN_total_population_male[265:530].reset_index(drop = True)
UN_total_population_male_2000 = UN_total_population_male[530:795].reset_index(drop = True)
UN_total_population_male_2005 = UN_total_population_male[795:1060].reset_index(drop = True)
UN_total_population_male_2010 = UN_total_population_male[1060:1325].reset_index(drop = True)
UN_total_population_male_2015 = UN_total_population_male[1325:].reset_index(drop = True)

In [ ]:
# Now I want to merge data of International Migrant Stock and Total population of different years
# These will be our total data of UN both sexes
UN_1990_both_sexes = UN_international_migrant_stock_bothsexes_1990.merge(UN_total_population_bothsexes_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_1995_both_sexes = UN_international_migrant_stock_bothsexes_1995.merge(UN_total_population_bothsexes_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2000_both_sexes = UN_international_migrant_stock_bothsexes_2000.merge(UN_total_population_bothsexes_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2005_both_sexes = UN_international_migrant_stock_bothsexes_2005.merge(UN_total_population_bothsexes_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2010_both_sexes = UN_international_migrant_stock_bothsexes_2010.merge(UN_total_population_bothsexes_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2015_both_sexes = UN_international_migrant_stock_bothsexes_2015.merge(UN_total_population_bothsexes_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])

In [ ]:
# These will be our total data of UN male
UN_1990_female = UN_international_migrant_stock_female_1990.merge(UN_total_population_female_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_1995_female = UN_international_migrant_stock_female_1995.merge(UN_total_population_female_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2000_female = UN_international_migrant_stock_female_2000.merge(UN_total_population_female_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2005_female = UN_international_migrant_stock_female_2005.merge(UN_total_population_female_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2010_female = UN_international_migrant_stock_female_2010.merge(UN_total_population_female_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2015_female = UN_international_migrant_stock_female_2015.merge(UN_total_population_female_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])

In [ ]:
# These will be our total data of UN female
UN_1990_male = UN_international_migrant_stock_male_1990.merge(UN_total_population_male_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_1995_male = UN_international_migrant_stock_male_1995.merge(UN_total_population_male_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2000_male = UN_international_migrant_stock_male_2000.merge(UN_total_population_male_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2005_male = UN_international_migrant_stock_male_2005.merge(UN_total_population_male_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2010_male = UN_international_migrant_stock_male_2010.merge(UN_total_population_male_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])
UN_2015_male = UN_international_migrant_stock_male_2015.merge(UN_total_population_male_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year'])

**Sheet 3 Cleaning Process**

In [ ]:
UN_table3 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=3) #load the third sheet

In [ ]:
UN_table3 = UN_table3.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]) # drop the rows in the green title area and rows contain the column name

In [ ]:
UN_table3 = UN_table3.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : 'Type of data (a)',
                 'Unnamed: 5' : '(both sexes) (1990)',
                 'Unnamed: 6' : '(both sexes) (1995)',
                 'Unnamed: 7' : '(both sexes) (2000)',
                 'Unnamed: 8' : '(both sexes) (2005)',
                 'Unnamed: 9' : '(both sexes) (2010)',
                 'Unnamed: 10': '(both sexes) (2015)',
                 'Unnamed: 11': '(male) (1990)',
                 'Unnamed: 12': '(male) (1995)',
                 'Unnamed: 13': '(male) (2000)',
                 'Unnamed: 14': '(male) (2005)',
                 'Unnamed: 15': '(male) (2010)',
                 'Unnamed: 16': '(male) (2015)',
                 'Unnamed: 17': '(female) (1990)',
                 'Unnamed: 18': '(female) (1995)',
                 'Unnamed: 19': '(female) (2000)',
                 'Unnamed: 20': '(female) (2005)',
                 'Unnamed: 21': '(female) (2010)',
                 'Unnamed: 22': '(female) (2015)'}, axis = 1) # Column renaming proces

In [ ]:
UN_table3 = UN_table3.fillna('') #Replace the NaN value with empty strings

In [ ]:
UN_migrant_percentage_both_sex = UN_table3.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(both sexes) (1990)',
                            '(both sexes) (1995)',
                            '(both sexes) (2000)',
                            '(both sexes) (2005)',
                            '(both sexes) (2010)',
                            '(both sexes) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock as a percentage of total population') # Use melt function to get the data of both sexes

In [ ]:
UN_migrant_percentage_male = UN_table3.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(male) (1990)',
                            '(male) (1995)',
                            '(male) (2000)',
                            '(male) (2005)',
                            '(male) (2010)',
                            '(male) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock as a percentage of total population') #Use melt function to get the data of males

In [ ]:
UN_migrant_percentage_female = UN_table3.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(female) (1990)',
                            '(female) (1995)',
                            '(female) (2000)',
                            '(female) (2005)',
                            '(female) (2010)',
                            '(female) (2015)'],
               var_name = 'Year',
               value_name = 'International migrant stock as a percentage of total population') # Use melt function to get the data of females

In [ ]:
# Now I only want to show year in the Year column in each dataframe
UN_migrant_percentage_both_sex = (UN_migrant_percentage_both_sex.assign(Year = lambda x: x.Year.str[13:].astype(str)))
UN_migrant_percentage_male = (UN_migrant_percentage_male.assign(Year = lambda x: x.Year.str[7:].astype(str)))
UN_migrant_percentage_female = (UN_migrant_percentage_female.assign(Year = lambda x: x.Year.str[9:].astype(str)))

In [ ]:
# Now separating dataframe of bothsexes into 6 different dataframes of 6 different years
UN_migrant_percentage_both_sex_1990 = UN_migrant_percentage_both_sex[0:265].reset_index(drop = True)
UN_migrant_percentage_both_sex_1995 = UN_migrant_percentage_both_sex[265:530].reset_index(drop = True)
UN_migrant_percentage_both_sex_2000 = UN_migrant_percentage_both_sex[530:795].reset_index(drop = True)
UN_migrant_percentage_both_sex_2005 = UN_migrant_percentage_both_sex[795:1060].reset_index(drop = True)
UN_migrant_percentage_both_sex_2010 = UN_migrant_percentage_both_sex[1060:1325].reset_index(drop = True)
UN_migrant_percentage_both_sex_2015 = UN_migrant_percentage_both_sex[1325:].reset_index(drop = True)

In [ ]:
# Now separating dataframe of males into 6 different dataframes of 6 different years
UN_migrant_percentage_male_1990 = UN_migrant_percentage_male[0:265].reset_index(drop = True)
UN_migrant_percentage_male_1995 = UN_migrant_percentage_male[265:530].reset_index(drop = True)
UN_migrant_percentage_male_2000 = UN_migrant_percentage_male[530:795].reset_index(drop = True)
UN_migrant_percentage_male_2005 = UN_migrant_percentage_male[795:1060].reset_index(drop = True)
UN_migrant_percentage_male_2010 = UN_migrant_percentage_male[1060:1325].reset_index(drop = True)
UN_migrant_percentage_male_2015 = UN_migrant_percentage_male[1325:].reset_index(drop = True)

In [ ]:
# Now separating dataframe of females into 6 different dataframes of 6 different years
UN_migrant_percentage_female_1990 = UN_migrant_percentage_female[0:265].reset_index(drop = True)
UN_migrant_percentage_female_1995 = UN_migrant_percentage_female[265:530].reset_index(drop = True)
UN_migrant_percentage_female_2000 = UN_migrant_percentage_female[530:795].reset_index(drop = True)
UN_migrant_percentage_female_2005 = UN_migrant_percentage_female[795:1060].reset_index(drop = True)
UN_migrant_percentage_female_2010 = UN_migrant_percentage_female[1060:1325].reset_index(drop = True)
UN_migrant_percentage_female_2015 = UN_migrant_percentage_female[1325:].reset_index(drop = True)

In [ ]:
# After we got 18 different data frames, it is time to merge these data frames to our total UN dataframes
UN_1990_both_sexes = UN_1990_both_sexes.merge(UN_migrant_percentage_both_sex_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_both_sexes = UN_1995_both_sexes.merge(UN_migrant_percentage_both_sex_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_both_sexes = UN_2000_both_sexes.merge(UN_migrant_percentage_both_sex_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_both_sexes = UN_2005_both_sexes.merge(UN_migrant_percentage_both_sex_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_both_sexes = UN_2010_both_sexes.merge(UN_migrant_percentage_both_sex_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_both_sexes = UN_2015_both_sexes.merge(UN_migrant_percentage_both_sex_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1990_female = UN_1990_female.merge(UN_migrant_percentage_female_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_female = UN_1995_female.merge(UN_migrant_percentage_female_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_female = UN_2000_female.merge(UN_migrant_percentage_female_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_female = UN_2005_female.merge(UN_migrant_percentage_female_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_female = UN_2010_female.merge(UN_migrant_percentage_female_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_female = UN_2015_female.merge(UN_migrant_percentage_female_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1990_male = UN_1990_male.merge(UN_migrant_percentage_male_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_male = UN_1995_male.merge(UN_migrant_percentage_male_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_male = UN_2000_male.merge(UN_migrant_percentage_male_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_male = UN_2005_male.merge(UN_migrant_percentage_male_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_male = UN_2010_male.merge(UN_migrant_percentage_male_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_male = UN_2015_male.merge(UN_migrant_percentage_male_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

**Sheet 4 Cleaning Process**

In [ ]:
UN_table4 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=4) #load the data

In [ ]:
UN_table4 = UN_table4.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]) # drop the rows in the green title area and contain column name

In [ ]:
# Column Renaming Process
UN_table4 = UN_table4.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : 'Type of data (a)',
                 'Unnamed: 5' : '(female) (1990)',
                 'Unnamed: 6' : '(female) (1995)',
                 'Unnamed: 7' : '(female) (2000)',
                 'Unnamed: 8' : '(female) (2005)',
                 'Unnamed: 9' : '(female) (2010)',
                 'Unnamed: 10': '(female) (2015)',}, axis = 1)

In [ ]:
#Filling the Nah value with empty string
UN_table4 = UN_table4.fillna('')

In [ ]:
UN_female_percentage = UN_table4.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(female) (1990)',
                            '(female) (1995)',
                            '(female) (2000)',
                            '(female) (2005)',
                            '(female) (2010)',
                            '(female) (2015)'],
               var_name = 'Year',
               value_name = 'Female migrants as a percentage of International Migrant Stock') #Use melt function

In [ ]:
# Now I only want to show year in the Year Column
UN_female_percentage = (UN_female_percentage.assign(Year = lambda x: x.Year.str[9:].astype(str)))

In [ ]:
# Separating the dataframe to 6 different dataframes according to year
UN_female_percentage_1990 = UN_female_percentage[0:265].reset_index(drop = True)
UN_female_percentage_1995 = UN_female_percentage[265:530].reset_index(drop = True)
UN_female_percentage_2000 = UN_female_percentage[530:795].reset_index(drop = True)
UN_female_percentage_2005 = UN_female_percentage[795:1060].reset_index(drop = True)
UN_female_percentage_2010 = UN_female_percentage[1060:1325].reset_index(drop = True)
UN_female_percentage_2015 = UN_female_percentage[1325:].reset_index(drop = True)

In [ ]:
# Since we only got female percentage in this sheet, we only merge these dataframes to our UN female dataframes
UN_1990_female = UN_1990_female.merge(UN_female_percentage_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_female = UN_1995_female.merge(UN_female_percentage_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_female = UN_2000_female.merge(UN_female_percentage_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_female = UN_2005_female.merge(UN_female_percentage_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_female = UN_2010_female.merge(UN_female_percentage_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_female = UN_2015_female.merge(UN_female_percentage_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

**Sheet 5 Cleaning Process**

In [ ]:
UN_table5 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=5) #load data

In [ ]:
UN_table5 = UN_table5.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]) # drop the rows in the green title area and contan column name

In [ ]:
UN_table5 = UN_table5.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : 'Type of data (a)',
                 'Unnamed: 5' : '(both sexes) (1990-1995)',
                 'Unnamed: 6' : '(both sexes) (1995-2000)',
                 'Unnamed: 7' : '(both sexes) (2000-2005)',
                 'Unnamed: 8' : '(both sexes) (2005-2010)',
                 'Unnamed: 9' : '(both sexes) (2010-2015)',
                 'Unnamed: 10': '(male) (1990-1995)',
                 'Unnamed: 11': '(male) (1995-2000)',
                 'Unnamed: 12': '(male) (2000-2005)',
                 'Unnamed: 13': '(male) (2005-2010)',
                 'Unnamed: 14': '(male) (2010-2015)',
                 'Unnamed: 15': '(female) (1990-1995)',
                 'Unnamed: 16': '(female) (1995-2000)',
                 'Unnamed: 17': '(female) (2000-2005)',
                 'Unnamed: 18': '(female) (2005-2010)',
                 'Unnamed: 19': '(female) (2010-2015)',}, axis = 1) # Column Renaming Process

In [ ]:
UN_table5 = UN_table5.fillna('') #Replace the NaN value with empty string

In [ ]:
UN_migrant_stock_change_both_sex = UN_table5.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(both sexes) (1990-1995)',
                            '(both sexes) (1995-2000)',
                            '(both sexes) (2000-2005)',
                            '(both sexes) (2005-2010)',
                            '(both sexes) (2010-2015)'],
               var_name = 'Period', #Use time period instead of year because it is rate of change in a 5-year time period
               value_name = 'Annual rate of change of migrant stock in Period') #Use melt function to get the data of both sexes

In [ ]:
UN_migrant_stock_change_male = UN_table5.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(male) (1990-1995)',
                            '(male) (1995-2000)',
                            '(male) (2000-2005)',
                            '(male) (2005-2010)',
                            '(male) (2010-2015)'],
               var_name = 'Period',
               value_name = 'Annual rate of change of migrant stock in Period') #Use melt function to get the data of male

In [ ]:
UN_migrant_stock_change_female = UN_table5.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['(female) (1990-1995)',
                            '(female) (1995-2000)',
                            '(female) (2000-2005)',
                            '(female) (2005-2010)',
                            '(female) (2010-2015)'],
               var_name = 'Period',
               value_name = 'Annual rate of change of migrant stock in Period') #Use melth function to get the data of female

In [ ]:
# Now I only want to show year in the Year column
UN_migrant_stock_change_both_sex = (UN_migrant_stock_change_both_sex.assign(Period = lambda x: x.Period.str[13:].astype(str)))
UN_migrant_stock_change_male = (UN_migrant_stock_change_male.assign(Period = lambda x: x.Period.str[7:].astype(str)))
UN_migrant_stock_change_female = (UN_migrant_stock_change_female.assign(Period = lambda x: x.Period.str[9:].astype(str)))

In [ ]:
# Different to previous, we only separate it to 5 different dataframes for each sex since we there is no data before 1990
UN_migrant_stock_change_both_sex_1990_1995 = UN_migrant_stock_change_both_sex[0:265].reset_index(drop = True)
UN_migrant_stock_change_both_sex_1995_2000 = UN_migrant_stock_change_both_sex[265:530].reset_index(drop = True)
UN_migrant_stock_change_both_sex_2000_2005 = UN_migrant_stock_change_both_sex[530:795].reset_index(drop = True)
UN_migrant_stock_change_both_sex_2005_2010 = UN_migrant_stock_change_both_sex[795:1060].reset_index(drop = True)
UN_migrant_stock_change_both_sex_2010_2015 = UN_migrant_stock_change_both_sex[1060:1325].reset_index(drop = True)

In [ ]:
UN_migrant_stock_change_male_1990_1995 = UN_migrant_stock_change_male[0:265].reset_index(drop = True)
UN_migrant_stock_change_male_1995_2000 = UN_migrant_stock_change_male[265:530].reset_index(drop = True)
UN_migrant_stock_change_male_2000_2005 = UN_migrant_stock_change_male[530:795].reset_index(drop = True)
UN_migrant_stock_change_male_2005_2010 = UN_migrant_stock_change_male[795:1060].reset_index(drop = True)
UN_migrant_stock_change_male_2010_2015 = UN_migrant_stock_change_male[1060:1325].reset_index(drop = True)

In [ ]:
UN_migrant_stock_change_female_1990_1995 = UN_migrant_stock_change_female[0:265].reset_index(drop = True)
UN_migrant_stock_change_female_1995_2000 = UN_migrant_stock_change_female[265:530].reset_index(drop = True)
UN_migrant_stock_change_female_2000_2005 = UN_migrant_stock_change_female[530:795].reset_index(drop = True)
UN_migrant_stock_change_female_2005_2010 = UN_migrant_stock_change_female[795:1060].reset_index(drop = True)
UN_migrant_stock_change_female_2010_2015 = UN_migrant_stock_change_female[1060:1325].reset_index(drop = True)

In [ ]:
# Since we do not have data before 1990, I choose not to merge these dataframes to the UN_1990 dataframe for female, male, both sexes
UN_1995_female = UN_1995_female.merge(UN_migrant_stock_change_female_1990_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2000_female = UN_2000_female.merge(UN_migrant_stock_change_female_1995_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2005_female = UN_2005_female.merge(UN_migrant_stock_change_female_2000_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2010_female = UN_2010_female.merge(UN_migrant_stock_change_female_2005_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2015_female = UN_2015_female.merge(UN_migrant_stock_change_female_2010_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1995_male = UN_1995_male.merge(UN_migrant_stock_change_male_1990_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2000_male = UN_2000_male.merge(UN_migrant_stock_change_male_1995_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2005_male = UN_2005_male.merge(UN_migrant_stock_change_male_2000_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2010_male = UN_2010_male.merge(UN_migrant_stock_change_male_2005_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2015_male = UN_2015_male.merge(UN_migrant_stock_change_male_2010_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1995_both_sexes = UN_1995_both_sexes.merge(UN_migrant_stock_change_both_sex_1990_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2000_both_sexes = UN_2000_both_sexes.merge(UN_migrant_stock_change_both_sex_1995_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2005_both_sexes = UN_2005_both_sexes.merge(UN_migrant_stock_change_both_sex_2000_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2010_both_sexes = UN_2010_both_sexes.merge(UN_migrant_stock_change_both_sex_2005_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])
UN_2015_both_sexes = UN_2015_both_sexes.merge(UN_migrant_stock_change_both_sex_2010_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Type of data (a)'])

**Sheet 6 Cleaning process**

In [ ]:
UN_table6 = pd.read_excel('/content/drive/MyDrive/INF 1340/UN Dataset.xlsx', sheet_name=6) #load the sixth sheet

In [ ]:
UN_table6 = UN_table6.drop(index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]) # drop the rows in the green title area and contain column name

In [ ]:
UN_table6 = UN_table6.rename({'Unnamed: 0' : 'Sort/Order',
                 'Unnamed: 1' : 'Major area, region, country or area of destination',
                 'Unnamed: 2' : 'Notes',
                 'Unnamed: 3' : 'Country Code',
                 'Unnamed: 4' : 'Type of data (a)',
                 'Unnamed: 5' : 'Estimated Refugee stock (1990)',
                 'Unnamed: 6' : 'Estimated Refugee stock (1995)',
                 'Unnamed: 7' : 'Estimated Refugee stock (2000)',
                 'Unnamed: 8' : 'Estimated Refugee stock (2005)',
                 'Unnamed: 9' : 'Estimated Refugee stock (2010)',
                 'Unnamed: 10': 'Estimated Refugee stock (2015)',
                 'Unnamed: 11': 'Refugees as a percentage of the international migrant stock (1990)',
                 'Unnamed: 12': 'Refugees as a percentage of the international migrant stock (1995)',
                 'Unnamed: 13': 'Refugees as a percentage of the international migrant stock (2000)',
                 'Unnamed: 14': 'Refugees as a percentage of the international migrant stock (2005)',
                 'Unnamed: 15': 'Refugees as a percentage of the international migrant stock (2010)',
                 'Unnamed: 16': 'Refugees as a percentage of the international migrant stock (2015)',
                 'Unnamed: 17': 'Annual Rate of change of the refugee stock (1990-1995)',
                 'Unnamed: 18': 'Annual Rate of change of the refugee stock (1995-2000)',
                 'Unnamed: 19': 'Annual Rate of change of the refugee stock (2000-2005)',
                 'Unnamed: 20': 'Annual Rate of change of the refugee stock (2005-2010)',
                 'Unnamed: 21': 'Annual Rate of change of the refugee stock (2010-2015)'}, axis = 1) # Column Renaming Process

In [ ]:
UN_table6 = UN_table6.fillna('') #Replace the NaN value with empty string

In [ ]:
UN_refugee_stock = UN_table6.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['Estimated Refugee stock (1990)',
                            'Estimated Refugee stock (1995)',
                            'Estimated Refugee stock (2000)',
                            'Estimated Refugee stock (2005)',
                            'Estimated Refugee stock (2010)',
                            'Estimated Refugee stock (2015)'],
               var_name = 'Year',
               value_name = 'Estimated Refugee Stock') #Use melt function to get the data of refugee stock

In [ ]:
UN_refugee_percentage_migrant = UN_table6.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['Refugees as a percentage of the international migrant stock (1990)',
                            'Refugees as a percentage of the international migrant stock (1995)',
                            'Refugees as a percentage of the international migrant stock (2000)',
                            'Refugees as a percentage of the international migrant stock (2005)',
                            'Refugees as a percentage of the international migrant stock (2010)',
                            'Refugees as a percentage of the international migrant stock (2015)'],
               var_name = 'Year',
               value_name = 'Refugees as a percentage of the international migrant stock') #Use melt function to get the data of refugee stock

In [ ]:
UN_refugee_change = UN_table6.melt(id_vars = ['Sort/Order', 'Major area, region, country or area of destination', 'Notes', 'Country Code', 'Type of data (a)'],
              value_vars = ['Annual Rate of change of the refugee stock (1990-1995)',
                            'Annual Rate of change of the refugee stock (1995-2000)',
                            'Annual Rate of change of the refugee stock (2000-2005)',
                            'Annual Rate of change of the refugee stock (2005-2010)',
                            'Annual Rate of change of the refugee stock (2010-2015)'],
               var_name = 'Period',
               value_name = 'Annual Rate of Percentage of the Refugee stock in the period') #Use melt function to get the data of refugee stock

In [ ]:
# Now I only want to show year and Period in the Year column
UN_refugee_stock = (UN_refugee_stock.assign(Year = lambda x: x.Year.str[24:].astype(str)))
UN_refugee_percentage_migrant = (UN_refugee_percentage_migrant.assign(Year = lambda x: x.Year.str[60:].astype(str)))
UN_refugee_change = (UN_refugee_change.assign(Period = lambda x: x.Period.str[43:].astype(str)))

In [ ]:
# Separate it to six different dataframes of different years
UN_refugee_stock_1990 = UN_refugee_stock[0:265].reset_index(drop = True)
UN_refugee_stock_1995 = UN_refugee_stock[265:530].reset_index(drop = True)
UN_refugee_stock_2000 = UN_refugee_stock[530:795].reset_index(drop = True)
UN_refugee_stock_2005 = UN_refugee_stock[795:1060].reset_index(drop = True)
UN_refugee_stock_2010 = UN_refugee_stock[1060:1325].reset_index(drop = True)
UN_refugee_stock_2015 = UN_refugee_stock[1325:].reset_index(drop = True)

In [ ]:
# Separate it to six different dataframes of different years
UN_refugee_percentage_migrant_1990 = UN_refugee_percentage_migrant[0:265].reset_index(drop = True)
UN_refugee_percentage_migrant_1995 = UN_refugee_percentage_migrant[265:530].reset_index(drop = True)
UN_refugee_percentage_migrant_2000 = UN_refugee_percentage_migrant[530:795].reset_index(drop = True)
UN_refugee_percentage_migrant_2005 = UN_refugee_percentage_migrant[795:1060].reset_index(drop = True)
UN_refugee_percentage_migrant_2010 = UN_refugee_percentage_migrant[1060:1325].reset_index(drop = True)
UN_refugee_percentage_migrant_2015 = UN_refugee_percentage_migrant[1325:].reset_index(drop = True)

In [ ]:
# Separate it to five different dataframes of different period
UN_refugee_change_1990_1995 = UN_refugee_change[0:265].reset_index(drop = True)
UN_refugee_change_1995_2000 = UN_refugee_change[265:530].reset_index(drop = True)
UN_refugee_change_2000_2005 = UN_refugee_change[530:795].reset_index(drop = True)
UN_refugee_change_2005_2010 = UN_refugee_change[795:1060].reset_index(drop = True)
UN_refugee_change_2010_2015 = UN_refugee_change[1060:1325].reset_index(drop = True)

In [ ]:
#Since these data are based on both sexes, I only merge these data to our UN both sexes dataframes
UN_1990_both_sexes = UN_1990_both_sexes.merge(UN_refugee_stock_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_both_sexes = UN_1995_both_sexes.merge(UN_refugee_stock_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_both_sexes = UN_2000_both_sexes.merge(UN_refugee_stock_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_both_sexes = UN_2005_both_sexes.merge(UN_refugee_stock_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_both_sexes = UN_2010_both_sexes.merge(UN_refugee_stock_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_both_sexes = UN_2015_both_sexes.merge(UN_refugee_stock_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1990_both_sexes = UN_1990_both_sexes.merge(UN_refugee_percentage_migrant_1990, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_1995_both_sexes = UN_1995_both_sexes.merge(UN_refugee_percentage_migrant_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2000_both_sexes = UN_2000_both_sexes.merge(UN_refugee_percentage_migrant_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2005_both_sexes = UN_2005_both_sexes.merge(UN_refugee_percentage_migrant_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2010_both_sexes = UN_2010_both_sexes.merge(UN_refugee_percentage_migrant_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])
UN_2015_both_sexes = UN_2015_both_sexes.merge(UN_refugee_percentage_migrant_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Year',
                                                                                            'Type of data (a)'])

In [ ]:
UN_1995_both_sexes = UN_1995_both_sexes.merge(UN_refugee_change_1990_1995, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Period',
                                                                                            'Type of data (a)'])
UN_2000_both_sexes = UN_2000_both_sexes.merge(UN_refugee_change_1995_2000, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Period',
                                                                                            'Type of data (a)'])
UN_2005_both_sexes = UN_2005_both_sexes.merge(UN_refugee_change_2000_2005, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Period',
                                                                                            'Type of data (a)'])
UN_2010_both_sexes = UN_2010_both_sexes.merge(UN_refugee_change_2005_2010, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Period',
                                                                                            'Type of data (a)'])
UN_2015_both_sexes = UN_2015_both_sexes.merge(UN_refugee_change_2010_2015, on=['Sort/Order', 
                                                                                            'Major area, region, country or area of destination',
                                                                                            'Notes',
                                                                                            'Country Code',
                                                                                            'Period',
                                                                                            'Type of data (a)'])

In [ ]:
UN_2015_both_sexes

,Sort/Order,"Major area, region, country or area of destination",Notes,Country Code,Type of data (a),Year,International migrant stock,Total Population at Mid-year,International migrant stock as a percentage of total population,Period,Annual rate of change of migrant stock in Period,Estimated Refugee Stock,Refugees as a percentage of the international migrant stock,Annual Rate of Percentage of the Refugee stock in the period
0,1,WORLD,,900,,(2015),243700236.0,7349472.099,3.315888,(2010-2015),1.890991,19577474.0,8.033424,2.947267
1,2,Developed regions,(b),901,,(2015),140481955.0,1251351.086,11.226422,(2010-2015),1.160824,1954224.0,1.391085,-2.087656
2,3,Developing regions,(c),902,,(2015),103218281.0,6098121.013,1.692624,(2010-2015),2.929634,17623250.0,17.073768,2.663652
3,4,Least developed countries,(d),941,,(2015),11951316.0,954157.804,1.252551,(2010-2015),3.526927,3443582.0,28.801534,7.766031
4,5,Less developed regions excluding least develop...,,934,,(2015),91262036.0,5143963.209,1.774158,(2010-2015),2.852687,14179668.0,15.537313,1.571047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,261,Samoa,,882,B,(2015),4929.0,193.228,2.550873,(2010-2015),-0.768177,0.0,0.0,..
261,262,Tokelau,,772,B,(2015),487.0,1.250,38.96,(2010-2015),2.536144,0.0,0.0,..
262,263,Tonga,,776,B,(2015),5731.0,106.170,5.397947,(2010-2015),2.641235,0.0,0.0,..
263,264,Tuvalu,,798,C,(2015),141.0,9.916,1.421944,(2010-2015),-1.763854,0.0,0.0,..
264,265,Wallis and Futuna Islands,,876,B,(2015),2849.0,13.151,21.663752,(2010-2015),0.51914,0.0,0.0,..